<!DOCTYPE html>

<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Standard Meta -->
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	 <link rel="icon" href="/favo.icon">
  <!-- Site Properties -->
	<title>Fixed Menu Example - Semantic</title>
	<!-- <link rel="stylesheet" type="text/css" href="./css/style.css"> -->
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/dist/semantic.min.js"></script>
	<script src="/js/main.js"></script>

	
  <style>
  body {
    background-color: none;
	  font-size: 1.5em;
  }
  
  .myitem {
  	text-align: center;
  	high:8em;
  }
  
  .active {
  	border-bottom: 1px solid #000;
  	color:#272727;
  }

	div.my-nav div.row div.column a {
	  color: 		#BEBEBE;
	}

  div.my-nav {
    position: fixed;
    z-index: 101;
    margin: 0px;

    width: 100%;
    height: 66px;
    min-width: 360px;

    background-color: white;
  }

  /* important !!*/
  .ui.grid {
    margin: 0px;
  }

  </style>

<style type="text/css"></style>
</head>
<body>


<div class="ui grid my-nav">
	<div class="three column row">
		<div class="column myitem {{#if venderSel}}active{{/if}}">
      <a href="/venderhome">店家資訊</a>
		</div>
		<div class="column myitem {{#if suitSel}}active{{/if}}">
      <a href="/suithome">西裝知識</a>
    </div>
		<div class="column myitem {{#if bookSel}}active{{/if}}">
      <a href="/user">預約訂製</a>
    </div>
	</div>
</div>

{{{body}}}


</body>
</html>
