<!DOCTYPE html>    
<link rel="stylesheet" type="text/css" href="/css/after_service.css"></link>
<script src="/js/after_service.js"></script> 
<div class="ui grid feedback-box">
  <div class="row link-row">
    <div class="right floated right aligned eight wide column logout-container">
      <div class="logout-box">
        <a>登出</a>
      </div>
    </div>
  </div>

  <div class="row main-row">
    <div class="fourteen wide column centered">
      <div class="ui grid one column">
        <div class="column choose-title-box">
          <h2>選擇店家</h2>
        </div>

        <div class="column select-box">
          <select form="book_form" name="shop" class="select-styled">
            <option value="" selected>選擇店家</option>
            {{#each shopList}}
            <option value={{.}}>{{.}}</option>
            {{/each}}
          </select>
        </div>
      
        <div class="column Q-title-box">
          <h2>問題提問</h2>
        </div>

        <div class="column question-box">
            <textarea class="textarea" name="question" cols="40" 
              onKeyDown ="textdown(event)"onKeyUp="textup()"
              onfocus="if(value=='輸入文字...(限100字)'){value=''}"
              onblur="if (value ==''){value='輸入文字...(限100字)'}">輸入文字...(限100字)</textarea>
        </div>
        <div class="column Q-given">
          <input type="submit" class="uppercase" name="question_button" form="feedback_form" value="送出">
        </div>

        <div class="column EV-title-box">
          <h2>顧客評價</h2>
        </div>
        <div class="column star_form">
          <img src="/img/feedback/gray_star.png"> 
          <img src="/img/feedback/gray_star.png"> 
          <img src="/img/feedback/gray_star.png"> 
          <img src="/img/feedback/gray_star.png"> 
          <img src="/img/feedback/gray_star.png"> 
        </div>

        <div class="column evaluation-box">
            <textarea class="textarea" name="evaluation" cols="40"
              onKeyDown ="textdown(event)"onKeyUp="textup()"
              onfocus="if(value=='輸入文字...(限100字)'){value=''}"
              onblur="if (value ==''){value='輸入文字...(限100字)'}">輸入文字...(限100字)</textarea>

        </div>
        <div class="column EV-given">
          <input type="submit" class="uppercase" name="evaluation_button" form="feedback_form" value="送出">              
        </div>

      </div>
    </div>
  </div>
</div>

