<!DOCTYPE html>    
<link rel="stylesheet" type="text/css" href="/css/after_service.css"></link>
<script src="/js/after_service.js"></script>  
<div class="ui grid book-box">
  <div class="row">
    <div class="fourteen wide column centered">
      <div class="ui grid one column">

        <div class="column Q-title-box">
          <h2>問題提問</h2>
        </div>

        <div class="column question-box">
          <input class="uppercase" type="text" form="feedback_form" name="question" placeholder="輸入文字..." ></input>
        </div>
        <div class="column Q-given">
          <input type="submit" class="uppercase" name="question_button" form="feedback_form" value="送出">
        </div>

        <div class="column EV-title-box">
          <h2>顧客評價</h2>
        </div>
        <div class="column star_form">
          <img src="/img/feedback/gray_star.png"> 
          <img src="/img/feedback/gray_star.png"> 
          <img src="/img/feedback/gray_star.png"> 
          <img src="/img/feedback/gray_star.png"> 
          <img src="/img/feedback/gray_star.png"> 
        </div>

        <div class="column evaluation-box">
          <input class="uppercase" type="text" form="feedback_form" name="evaluation" placeholder="輸入文字..."></input>
        </div>
        <div class="column EV-given">
          <input type="submit" class="uppercase" name="evaluation_button" form="feedback_form" value="送出">
        </div>

      </div>
    </div>
  </div>
</div>

