<!DOCTYPE html>


  <!-- *******************這裡之後是{{{body}}}************** -->
    <div class="appin ">
  <img class="flash" src="/img/cover_logo.png" alt="404 not found" >
  </div>
  <script language="JavaScript"> 
  setTimeout(function () {
     window.location.href = '/selectStore'; 
     }, 1000);

    </script>
     <link rel="stylesheet" type="text/css" href="/css/style.css">
         <style type="text/css"></style>

