<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/before_after.css">
<div class="loginout">
	<a href="/test/selectStore">
		<div class="beforelog"></div>
	</a>
	<a href="/suitprocess">
		<div class="afterlog"></div>
	</a>
</div>
