<!DOCTYPE html>

	<!--******************新載入的*********************-->	
	<link rel="stylesheet" type="text/css" href="/css/suitcategory.css">
	<script src="/js/jquery.scrollify.min.js"></script>
	<script src="/js/suitcategory.js"></script>
	<!--***********************************************-->
<!-- *******************這裡之後是{{{body}}}************** -->
  <div class="category MorningCoat">
		<div class="cat_show">
			<div class="cat_show_content">
				<p>西裝依據穿著的場合可區分為禮服與便服。<br><br>

					其中禮服又可分為白天穿的晨禮服、晚間穿的晚禮服與燕尾服。一般而言，禮服的布料多為純黑毛料，並搭配白襯衣、黑皮鞋、黑襪子。
				</p>
				<p style="text-align:center;color:rgb(99,99,99)">點擊繼續
				</p>
			</div>
		</div>
	
		<img src="/img/suitcategory/1morningcoat.jpg"  alt="404 not found">
		<div class="categorycontent cat_hide">
			<p >晨禮服（Morning Coat）<br><br>
			晨禮服是三種禮服中最正式的一種，通常白天時段（晚上6點前）穿著，其正式穿法為外套、襯衣、長褲搭配背心與領結。晨禮服的上衣為黑色，長褲部分則常見深灰色條紋進行搭配，並且以吊帶拉撐長
			</p>
		</div>
  </div>

<div class="category  BlackTie">
	<img src="/img/suitcategory/2blacktie.jpg"  alt="404 not found">
	<div class="categorycontent">
		<p >晚禮服（Black Tie）<br><br>
		晚禮服通常搭配黑色領帶，因而稱為Black Tie，於晚間6點後穿著，相比燕尾服沒那麼隆重與正式，因而常見於慈善晚會等場合。晚禮服上衣沒有燕尾，但通常褲子側面有條紋，且有絲質的翻領。
		</p>
	</div>
</div>

<div class="category Tailcoat  ">
	<img src="/img/suitcategory/3tailcoat.jpg"  alt="404 not found">
	<div class="categorycontent">
		<p >燕尾服（Tailcoat）<br><br>
		燕尾服式晚間6點後最正式的禮服，前方上衣長度較短，後方則為長襬並且自腰線以下開叉，常見白色領帶，因而常指稱White Tie。一般而言，多搭配白色的禮服背心，而褲子則須與上衣相同顏色與布料。
		</p>
	</div>
</div>

<div class="category Formal ">
	<img src="/img/suitcategory/4formal.jpg"  alt="404 not found">
	<div class="categorycontent">
	<p>正裝（Formal）<br><br>
		一般常看到的西裝即正裝，搭配領帶穿著。正裝的布料通常為含毛量70%以上的深色毛料，且上下身為同色同料。
	</p>
	</div>
</div>

<div class="category">
	<img src="/img/suitcategory/5SmartCasual.jpg"  alt="404 not found">
	<div class="categorycontent">
	<p>便裝（Smart Casual）<br><br>
		便服則可分為正裝與便裝，正裝即一般人常穿的西服形式，便裝則是	非正式場合穿著之休閒西服。<br>
		便裝並不像前述幾項有嚴格相對應的搭配要求，顏色可以更為繽紛多彩，甚至出現格紋、條紋等花紋，亦有人搭配短褲穿著。
	</p>
	</div>
</div>
