<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/cloth.css" >
<div class="cloth-box">
  <img src="/img/upDownShadow.png">
</div>

  {{#each clothList}}
  <div class="gallery" style="background-image:url({{imagine}})">
  </div>
  {{/each}}


