<!DOCTYPE html>

<!----------------------------------------------
  customer evaluation and its background
-->
<div id="background">

  <div class="evaluation">
    <p> 顧客評價 </p>
    <p> 4/5 </p>
    <!--The star for evaluation-->
    <div class="star_form"> 
        <img src="/img/res/gray_star.png"> 
        <img src="/img/res/white_star.png"> 
        <img src="/img/res/white_star.png"> 
        <img src="/img/res/white_star.png"> 
        <img src="/img/res/white_star.png"> 
    </div>
  </div>

</div>
<!--The area of comments-->
<div class="ui comments">
  <!--each comment-->
  <div class="comment">


    <div class="star">
      5
      <img src="/img/res/level_star.png">
    </div>
    <!--the photo-->
    <div class="avatar">
      <img src="/img/res/custom_feedback.jpg">
    </div>
    
    <div class="content">
      <a class="author"> Stevie Feliciano </a>
      <div class="metadata">
        <div class="date">2016/05/01</div>
      </div>
      <div class="text">
        Hey guys, I hope this example comment is helping you read this documentation.
      </div>

    </div>


  </div> 
  <!--The line for seperating.-->
  <img src="/img/res/line.jpg" class="line">


  <!--each comment-->
  <div class="comment">


    <div class="star">
      4
       <img src="/img/res/level_star.png">
    </div>
    <!-- the photo-->
    <div class="avatar">
      <img src="/img/res/custom_feedback.jpg">
    </div>
    <div class="content">
      <a class="author"> Adam Wainwright </a>
      <div class="metadata">
        <div class="date">2016/04/29</div>
      </div>
      <div class="text">
        Hey guys,Good morning!
      </div>

    </div>


  </div>
  <!--The line for seperating.-->
  <img src="/img/res/line.jpg" class="line">


  <!--each comment-->
  <div class="comment">


    <div class="star">
      3
      <img src="/img/res/level_star.png">
    </div>
    <!-- the photo-->
    <div class="avatar">
      <img src="/img/res/custom_feedback.jpg">
    </div>
    <div class="content">
      <a class="author"> John Li </a>
      <div class="metadata">
        <div class="date">2016/01/01</div>
      </div>

      <div class="text">
        With lefty Danny Duffy on the hill
        for the opposing Royals, manager Fredi Gonzalez will elect to rest Johnson 
        in favor of Chase d'Arnaud at the keystone.
        Johnson might be a candidate to sit Monday as well, 
        as the Braves are scheduled to face another southpaw in Jon Niese 
        to open a four-game series in Pittsburgh.  
      </div>

    </div>


  </div>
  <!--The line for seperating.-->
  <img src="/img/res/line.jpg" class="line">
                                                                                            
</div>

<link rel="stylesheet" type="text/css" href="/css/feedback.css">

