<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
<div class="cover-enter-logo">
  <div class="logo">
    <img src='/img/enter/logo.png'>
  </div>
</div>
<div class="loginout">
</div>
<script>

  $.fn.extend({
    animateCss: function (animationName) {
      var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
      $(this).addClass('animated ' + animationName).one(animationEnd, function() {
        $(this).removeClass('animated ' + animationName);
      });
    }
  });

  $(document).ready(function(){
    /* binding click event for enter page */
    setTimeout(function() {
      $('div.logo').animateCss('flash');
      $('div.cover-enter-logo').delay(1000).fadeOut(1000, function() {
        document.location = '/beforeAfter';
      });
    }, 1000);
  });
</script>
