<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/login_page.css">
<style>
</style>

<div class="ui grid login-box">
  <div class="row">

    <div class="fourteen wide column centered ">

      <div class="ui grid one column">
        <div class="column">
          <h2 class="form-signin-heading uppercase font-white">login</h2>
        </div>
        <div class="column">
          <input type="text" form="login_form" name="account" placeholder="Account" required autofocus>
        </div>
        <div class="column">
          <input type="password" form="login_form" name="password" placeholder="Password" required>
        </div>
        <div class="column">
          <div class="ui grid two column">
            <div class="column">
              <button class="btn-as-link" name="register">register</button>
            </div>
            <div class="column">
              <button class="btn-as-link" type="submit" form="login_form">login</button>
            </div>
          </div>
        </div>
        <div class="column">
          <h2 class="uppercase font-white">or</h2>
        </div>
        <div class="column">
          <button class="uppercase" name="facebook">facebook</button>
        </div>
        <form id="login_form" action="/login" method="post">
        </form>
        <div class="column">
          account: nekoneko<br>
          password: ss12345678
        </div>
      </div>

    </div>

  </div>
</div>


<!--
      <div class="row">
        <p>test account</p>
        <p>account: nekoneko</p>
        <p>passwd: 12345678</p>
      </div>
-->
