 <!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/process.css">
	
<!-- *******************這裡之後是{{{body}}}************** -->
<div class="process">
  <div id="using-bar">
    <select>
      <option value="" selected>選擇店家</option>
      {{#each optionList}}
      <option value="{{index}}">{{item}}</option>
      {{/each}}
    </select>
    <div class="middle-space"></div>
    <div class="logout-box">
      <a>登出</a>
    </div>
  </div>
	<div class="step1 preorder">
		<div class="step1 black_line linear"></div> 
		<p>草圖紙樣</p>
	</div>
	<div class="step1 postorder hidden-process">
		<div class="step1 white_line linear"></div>
		<p>草圖紙樣</p>
		<img src="/img/process/step1.jpg" alt="404 not found" >
	</div>
	
	<div class="step2 preorder">
		<div class="step2 black_line linear"></div> 
		<p style="margin-right:5vh;">剪裁</p>
	</div>
	<div class="step2 postorder hidden-process">
		<div class="step2 white_line linear"></div>
		<p style="margin-right:5vh;">剪裁</p>
		<img src="/img/process/step2.jpg" alt="404 not found" >
	</div>
	
	<div class="step3 preorder">
		<div class="step3 black_line linear"></div> 
		<p style="margin-right:5vh;">接縫</p>
	</div>
	<div class="step3 postorder hidden-process">
		<div class="step3 white_line linear"></div>
		<p style="margin-right:5vh;">接縫</p>
		<img src="/img/process/step3.jpg" alt="404 not found" >
	</div>
	
	<div class="step4 preorder">
		<div class="step4 black_line linear"></div> 
		<p style="margin-right:5vh;">疏縫</p>
	</div>
	<div class="step4 postorder hidden-process">
		<div class="step4 white_line linear"></div>
		<p style="margin-right:5vh;">疏縫</p>
		<img src="/img/process/step4.jpg" alt="404 not found" >
	</div>
	
	<div class="step5 preorder">
		<div class="step5 black_line linear"></div> 
		<p>縫製毛襯</p>
	</div>
	<div class="step5 postorder hidden-process">
		<div class="step5 white_line linear"></div>
		<p>縫製毛襯</p>
		<img src="/img/process/step5.jpg" alt="404 not found" >
	</div>
	
	<div class="step6 preorder">
		<div class="step6 black_line linear"></div> 
		<p>上領上袖</p>
	</div>
	<div class="step6 postorder hidden-process">
		<div class="step6 white_line linear"></div>
		<p>上領上袖</p>
		<img src="/img/process/step6.jpg" alt="404 not found" >
	</div>
	
	<div class="step7 preorder">
		<div class="step7 black_line linear"></div> 
		<p style="margin-right:5vh;">完成</p>
	</div>  
	<div class="step7 postorder hidden-process">
		<div class="step7 white_line linear"></div>
		<p style="margin-right:5vh;">完成</p>
		<img src="/img/process/step7.jpg" alt="404 not found" >
	</div> 
</div>
<script type="text/javascript">
  var ExternalNumberList = {{processList}} || null;
</script>
<script type="text/javascript" src="/js/process.js"></script>
