<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/css/register.css">

<div class="register-box">
  <div class="register-box-bg">
    <div class="ui centered container grid">
      <div class="one column row">
        <div class="fifteen wide column title-word-box">
          <p class="title-word">建立帳號</p>
        </div>
        <div class="thirteen wide column">
          <div class="column">
            <form id="register-form" class="ui form" action="">
              <div class="field input-box">
                <label class="mylabel">帳號</label>
                <input class="white-input" type="text" placeholder="請輸入帳號" name="account" id="account">
                <label class="myerror">*8到16個英文.-_之中字元</label>
              </div>
              <div class="field input-box">
                <label class="mylabel">稱呼</label>
                <input class="white-input" type="text" placeholder="請輸入稱呼" name="nickname" id="nickname">
                <label class="myerror">*2到16個中日韓英.-_之中等字元</label>
              </div>
              <div class="field input-box">
                <label class="mylabel">密碼</label>
                <input class="white-input" type="password" placeholder="請輸入密碼" name="password" id="password">
                <label class="myerror">*6到16個英文與數字，英文至少2字元</label>
              </div>
              <div class="field input-box">
                <label class="mylabel">確認密碼</label>
                <input class="white-input" type="password" placeholder="請再輸入同樣密碼" name="password2" id="password2">
                <label class="myerror">*輸入相同密碼</label>
              </div>
              <div class="field input-box">
                <label class="mylabel">手機</label>
                <input class="white-input" type="text" placeholder="請輸入手機號碼" name="cellphone" id="cellphone">
                <label class="myerror">*請輸入手機，如：0999-111-111</label>
              </div>
              <div class="field input-box">
                <label class="mylabel">信箱</label>
                <input class="white-input" type="text" placeholder="請輸入電子郵件地址" name="email" id="email">
                <label class="myerror">*gmail, yahoomail, hotmail 其一</label>
              </div>
              <div class="field button-wrapper">
                <button class="ui button" type="submit">送出</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="register_succ_pop_up">
  <div class="main-register-succ">
    <p>註冊成功</p>
  </div>
  <div class="content-register-succ">
    <p>註冊已成功，歡迎使用！</p>
  </div>
  <div class="image-register-succ">
    <img id="succ-icon" src="/img/login_page/refresh-36.png">
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script src="/js/register.js"></script>
