<!DOCTYPE html>

<!-- *******************這裡之後是{{{body}}}************** -->
<div data-coverid='1' class="store-cover store-hidden" style="background-image:url(/img/store/shop-transition1.jpg);">
  <div class="cover-inner-text"> 
    <h1>大帥西服</h1>
    <hr>
  </div>
</div>
<div data-coverid='2' class="store-cover store-hidden" style="background-image:url(/img/store/shop-transition2.jpg);">
  <div class="cover-inner-text">
    <h1>銀座西服</h1>
    <hr>
  </div>
</div>
</div>
<div data-coverid='3' class="store-cover store-hidden" style="background-image:url(/img/store/shop-transition3.jpg);">
  <div class="cover-inner-text">
    <h1>乃樺西服</h1>
    <hr>
  </div>
</div>
<div data-coverid='4' class="store-cover store-hidden" style="background-image:url(/img/store/shop-transition4.jpg);">
  <div class="cover-inner-text">
    <h1>萬龍西服</h1>
    <hr>
  </div>
</div>
<div data-coverid='5' class="store-cover store-hidden" style="background-image:url(/img/store/shop-transition5.jpg);">
  <div class="cover-inner-text">
    <h1>一統西服</h1>
    <hr>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="/css/select_store2.css">
<div class="store_select">
  <div class="tmpt">
  	<div class="select_start">
      <div>
      <p>選擇<br>店家</p>
      </div>
    </div>
  	<div data-shopid='1' class="store_1 left_paralle clickable">
      <p>大帥西服</p>
      <img src="/img/store/select01.jpg">
    </div>

  	<div data-shopid='2' class="store_2 right_T clickable">
      <p>銀座西服</p>
      <img src="/img/store/select02.jpg">
    </div>

  	<div data-shopid='3' class="store_3 right_paralle clickable">
      <p>乃樺西服</p>
      <img src="/img/store/select03.jpg">
    </div>

    <div data-shopid='4' class="store_4 left_T clickable">
      <p>萬龍西服</p>
      <img src="/img/store/select05.jpg">
    </div>

    <div data-shopid='5' class="store_5 left_paralle clickable">
      <p>一統西服</p>
      <img src="/img/store/select04.jpg">
    </div>
  
    <div class="eleft">
    </div>
  </div>
</div>
<script src="/js/store_select2.js"></script>
