<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/shop_contact.css">

<div class='shop_contact_bg'>
  <div class='shop_info'>
    <b>大帥西服</b>
    <p>營業時間: 0900 - 2100</p>
    <p>連絡電話: 0912 345 678</p>
    <p>地址: 台南市中西區中正里西門路183號1樓</p>
  </div>

  <div class='shop_map'>
    <iframe frameborder='0' scrolling='no' marginheight='0' marginwidth='0'
      src=http://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=台灣台南市中西區西門路二段183號&z=15&output=embed&t=>
    </iframe>
  </div>
</div>
