<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/css/suithistory.css">

<!-- *******************這裡之後是{{{body}}}************** -->
<div class="suit_knowledge">
	<div class="suit_history">
		<div>
      <h2 class="suit_hist_title">西裝演化</h2>
      <p class="history_story">&nbsp &nbsp &nbsp &nbsp 西裝，又稱為洋服、西服，一般起源於歐洲，特別是西歐的法國、英國。它代表男士禮貌、尊重場合的穿著型態；服裝界歷年來皆有「重男輕女」的狀況，尤其是在男裝和女裝的分別上，更顯得簡潔、穩健、莊重。至於服裝的演變，在十四世紀以前，並沒有很明顯的國別與社會階層之分，均以長袍狀、寬鬆與圍裹式服裝為主，自14 世紀後，開始有個人風格與國別特質，此時起才有流行的變化。</p>
      <p class="history_story">&nbsp &nbsp &nbsp &nbsp17世紀的男士服裝受到巴洛克風格的影響，開始出現三件式的西裝套裝，大約在 1666 年，開始出現 Jacket（外套）、Zile（背心）、Pants （西褲）等三件式的服裝原型；在 1750 年之前，許多喜歡騎馬、狩獵或喜愛其它運動的人們，也隨著運動機能需求改變服裝的變化。例如將外套長度變短、材質由蠶絲變成羊毛、款式變得容易活動等符合機能性的款式。</p>
      <p class="history_story">&nbsp &nbsp &nbsp &nbsp在十九世紀以後，男子開始穿著不同型態的燕尾服，禮服大衣等等，而英國在 1820 年出現把禮服大衣前面下襬剪裁成圓角，亦即三件式的西裝設計的雛型。19世紀中因受工業革命的影響，服裝走入國際與全球化，19世紀的西服與商務套裝的男士服裝型式延續至20世紀，並成為當今盛行的西服款式。</p>
    </div>
	</div>
</div>

