<!DOCTYPE html>
	<!--******************新載入的*********************-->	
	<link rel="stylesheet" type="text/css" href="/css/suitinfo.css"></link>
	<script src="/js/jquery.bpopup.min.js"></script>
	<!--***********************************************-->
<!-- *******************這裡之後是{{{body}}}************** -->

<div class="suit-info-box" >
	<div class="suit-bg">
		<img  src="/img/suitinfo/model.jpg" alt="404 not found">
	</div>
</div>
<!-- 綠色綠色選擇區塊 -->
<div>
	<div class="popup-selectorh s-shoulder">		
	</div>
	<div class="popup-selectorv s-tie">	
	</div>
	<div class="popup-selectorh s-button">	
	</div>
	<div class="popup-selectorh s-pocket">	
	</div>
	<div class="popup-selectorv s-hand">	
	</div>
	<div class="popup-selectorh s-pants">	
	</div>
</div>
<!-- 炸裂跑出來的圖像 -->
<div  class="suit-popup shoulder">
	<img class="p-shoulder"  src="/img/suitinfo/shoulder.png" alt="shoulder not found">
	<p>墊肩應剛好和肩部同寬，避免過高與過長。</p>
	<span class="buttonpop b-close"><span>x</span></span>
</div>
<div  class="suit-popup tie">
	<img class="p-tie"  src="" alt="tie not found">
	<p>領帶寬窄應該與駁頭寬窄相配，且長度約到腰帶扣環，顏色則應深於襯衫顏色，
	而外套領口和襯衫領子之間的距離也應避免過大。</p>
	<span class="buttonpop b-close"><span>x</span></span>
</div>
<div class="suit-popup button">
	<img class="p-button" src="/img/suitinfo/button.png" alt="button not found">
  <p>兩粒扣的西裝扣上方鈕扣，三粒扣西裝則扣中間的鈕扣，位置不能低於肚臍，且坐下時記得鬆開鈕扣。</p>
	<span class="buttonpop b-close"><span>x</span></span>
</div>
<div  class="suit-popup pocket">
	<img class="p-pocket" src="/img/suitinfo/length.png" alt="pocket not found">
  <p>腰帶顏色須與皮鞋一致，且不要選太寬的腰帶。</p>
	<span class="buttonpop b-close"><span>x</span></span>
</div>
<div class="suit-popup hand">
	<img class="p-hand"  src="/img/suitinfo/hand.png" alt="hand not found">
  <p>襯衫袖口應該要比外套長1公分，且襯衫袖口露出的長度等於從背後看襯衫高過外套領子的高度。</p>
	<span class="buttonpop b-close"><span>x</span></span>
</div>
<div class="suit-popup pants">
	<img class="p-pants" src="/img/suitinfo/pants.png" alt="pants not found">
  <p>皮鞋顏色應與西裝顏色配合，亦應避免穿著白襪，且襪子長度應足夠長，坐下時不露出腿部為佳。</p>
	<span class="buttonpop b-close"><span>x</span></span>
</div>
<script src="/js/suitinfo.js"></script>
