<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/suithome.css">

<div class="suit">
	<div class="suit-left">
    <a href="/suitcategory">
  	  <img src="/img/06/left.jpg" alt="404 not found">
      <p>西裝總類</p>
		</a>
	</div>
	<div class="suit-right-top">
    <a href="/suithistory">
	  	<img src="/img/06/right-top.jpg" alt="404 not found">
  		<p>西裝演化</p>
		</a>
	</div>
	<div class="suit-right-bottom">
    <a href="/suitinfo">
		  <img src="/img/06/right-bottom.jpg" alt="404 not found"</div>
  		<p>西裝穿法</p>
		</a>
  </div>
</div>
