<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/css/suitinfo.css"></link>

<div class="suit-info-box" >
		
	<div class="suit-bg">
		<img  src="/img/suitinfo/model.jpg" alt="404 not found">
	</div>
</div>
<!-- 綠色綠色選擇區塊 -->
<div>
	<div class="popup-selector s-shoulder">		
	</div>
	<div class="popup-selector s-button">	
	</div>
	<div class="popup-selector s-pocket">	
	</div>
	<div class="popup-selector s-hand">	
	</div>
	<div class="popup-selector s-pants">	
	</div>
</div>

<!-- 炸裂跑出來的圖像 -->
<div  class="suit-popup shoulder">
	<img class="p-shoulder"  src="/img/suitinfo/shoulder.png" alt="shoulder not found">
	<p>這是肩膀的地方感覺很酷很帥氣我們很喜歡這樣的設計感讓人看得心曠神宜室宜家具是一種特別布一樣的存在</p>
	<span class="buttonpop b-close"><span>x</span></span>
</div>
<div class="suit-popup button">
	<img class="p-button" src="/img/suitinfo/button.png" alt="button not found">
	<p>這是鈕釦這是鈕釦這是鈕釦這是鈕釦這是鈕釦這是鈕釦這是鈕釦這是鈕釦這是鈕釦這是鈕釦</p>
	<span class="buttonpop b-close"><span>x</span></span>
</div>
<div  class="suit-popup pocket">
	<img class="p-pocket" src="/img/suitinfo/length.png" alt="pocket not found">
	<p>這是口袋@@這是口袋@@這是口袋@@這是口袋@@這是口袋@@這是口袋@@這是口袋@@這是口袋@@</p>
	<span class="buttonpop b-close"><span>x</span></span>
</div>
<div class="suit-popup hand">
	<img class="p-hand"  src="/img/suitinfo/hand.png" alt="hand not found">
	<p>這是手部袖口OuO這是手部袖口OuO這是手部袖口OuO這是手部袖口OuO這是手部袖口OuO這是手部袖口OuO</p>
	<span class="buttonpop b-close"><span>x</span></span>
</div>
<div class="suit-popup pants">
	<img class="p-pants" src="/img/suitinfo/pants.png" alt="pants not found">
	<p>這是褲管OuO這是褲管OuO這是褲管OuO這是褲管OuO這是褲管OuO這是褲管OuO這是褲管OuO這是褲管OuO這是褲管OuO這是褲管OuO</p>
	<span class="buttonpop b-close"><span>x</span></span>
</div>

