<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/css/suithistory.css">

<!-- *******************這裡之後是{{{body}}}************** -->
<div class="suit_knowledge">
	<div class="suit_history">
		<div>
      <p class="history_time" >1995</p>
      <p class="history_story">出現了神奇寶貝小智把所有的神奇寶貝都抓走了大木博士說ㄎㄎ這些寶貝球拿去用吧去尋找偉大的航道吧說著遞出10顆寶貝球</p>
    </div>
		
		<img src="/img/suithistory/one.jpg" alt="404 not found" >
	</div>
	<div class="suit_history">
		<p class="history_time">1999</p><p class="history_story">921大地震真的豪可怕可怕喔我那時候還沒上小學也沒讀幼稚園在家裡面ˇ跌倒好多東西掉下來豪可怕</p>
		<img src="/img/suithistory/two.jpg" alt="404 not found" >
	</div>
	<div class="suit_history"> 
		<p class="history_time">2004</p><p class="history_story">319槍擊案之後出現許多跟319有關的東西好酷喔真的好神奇</p>
		<img src="/img/suithistory/three.jpg" alt="404 not found" >
	</div>
</div>

