<!DOCTYPE html>
<div class="container wrapper">
<p>account:{{user.account}}</p>
<p>password:{{user.password}}</p>
<p>email:{{user.email}}</p>
<p>phone number:{{user.phoneNumber}}</p>
<a class="uppercase" href="/reservation">Reservation</a>
<form id="logout_form">
<input type="submit" form="logout_form" value="logout" formaction="/logout" formmethod="post"></input>
</form>
</div>
