<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/user.css">
</style>
<div class="ui grid user-box">
  <div class="row">
    <div class="fourteen wide column centered">
      <div class="ui grid one column">
        <div class="column user-img-wrapper">
          <div class="user-circular">
            <img src="/img/user/nekoneko.jpg">
          </div>
        </div>

        <div class="column">
          <div class="ui grid">
            <div class="row font-white">
              <div class="four wide column">
                account:
              </div>
              <div class="twelve wide column">
                {{user.account}}
              </div>
            </div>
            <div class="row font-white">
              <div class="four wide column">
                email:
              </div>
              <div class="twelve wide column">
                {{user.e-mail}}
              </div>
            </div>
            <div class="row font-white">
              <div class="four wide column">
                phone:
              </div>
              <div class="twelve wide column">
                {{user.cellphone}}
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <a class="uppercase" href="/bookhome">BOOK</a>
        </div>

        <div class="column">
          <input type="submit" class="uppercase" name="logout" form="logout_form" value="logout"></button>
        </div>

        <form id="logout_form" action="/logout" method="post">
        </form>
      </div>
    </div>
  </div>
</div>
