<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/venderhome.css">
<div class="vender">
	<div class="vender-left-top">
    <a href="#">
			<img src="/img/01/left-top.jpg" alt="404 not found">
			<p>創業故事</p>
		</a>
	</div>
	<div class="vender-right-top">
    <a href="#">
			<img src="/img/01/right-top.jpg" alt="404 not found">
			<p>主要服務</p>
		</a>		
	</div>
	<div class="vender-right-mid">
    <a href="#">
			<img src="/img/01/right-mid.jpg" alt="404 not found">
			<p>布的種類</p>
		</a>		
	</div>
	<div class="vender-bottom">
    <a href="/feedback">
			<img src="/img/01/bottom.jpg"  alt="404 not found">
			<p>顧客評價</p>
		</a>		
	</div>
</div>
