<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/venderhome.css">
<div class="vender">
	<div class="vender-left-top">
    <a href="/venderhistory">
			<img src="/img/shop_cover/{{themeImg.left_up}}" alt="404 not found">
			<p>創業故事</p>
		</a>
	</div>
	<div class="vender-right-top">
    <a href="/shop_contact">
			<img src="/img/shop_cover/{{themeImg.right_up}}" alt="404 not found">
			<p>聯絡方式</p>
		</a>		
	</div>
	<div class="vender-right-mid">
    <a href="/cloth">
			<img src="/img/shop_cover/{{themeImg.right_mid}}" alt="404 not found">
			<p>布的種類</p>
		</a>		
	</div>
	<div class="vender-bottom">
    <a href="/feedback">
			<img src="/img/shop_cover/{{themeImg.bottom}}"  alt="404 not found">
			<p>顧客評價</p>
		</a>		
	</div>
</div>
