<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/venderhome.css">
<div class="vender">
	<div class="vender-left-top">
    <a href="/venderhistory">
			<img src="/img/shop_cover/{{themeImg.left_up}}" alt="404 not found">
			<p>創業故事</p>
		</a>
	</div>
	<div class="vender-right-top">
    <a href="/shop_contact">
			<img src="/img/shop_cover/{{themeImg.right_up}}" alt="404 not found">
			<p>聯絡方式</p>
		</a>		
	</div>
	<div class="vender-right-mid">
    <a href="/cloth">
			<img src="/img/shop_cover/{{themeImg.right_mid}}" alt="404 not found">
			<p>布的種類</p>
		</a>		
	</div>
	<div class="vender-bottom">
    <a href="/feedback">
			<img src="/img/shop_cover/{{themeImg.bottom}}"  alt="404 not found">
			<p>顧客評價</p>
		</a>		
	</div>
</div>
<style>
  div.link-container {
    position: fixed;
    width: 100%;
    top: 93%;
    left: 80%;
  }

  div.link-container a {
    width: 10%;
    background: rgba(0, 82, 82, 1);
    padding: 0.7% 3%;
    color: white;
    opacity: 1;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(175,175,175,1);
    -moz-box-shadow: 1px 1px 4px 0px rgba(175,175,175,1);
    box-shadow: 1px 1px 4px 0px rgba(175,175,175,1);
  }

</style>
  <div class="link-container">
    <a href="/test/selectStore">back
    </a>
  </div>
