<!DOCTYPE html>
<!-- *******************這裡之後是body************** -->
<link rel="stylesheet" type="text/css" href="/css/venderhistory.css">

<div class="establish_story">
	<p class="story_title">{{shop_name}}</p>
	<p class="story_content">
{{#each story}}
{{paragraph}}<br>　
{{/each}}
　</p>
</div>

