<!DOCTYPE html>
<style>
  div.vender {
    padding-top: 66px;
  }
</style>
<div class="vender">
	<div ><a href="#">
			<img src="./img/01/left-top.jpg" alt="404 not found" style="width:34%;height:60vh;border:2px #ccc solid; 
			float:left; background-repeat: no-repeat;background-size: cover;">
			<p style="z-index: 100;position: absolute;color: white;font-size: inherit;font-weight: bold;left: 6%;top: 63.5%;">創業故事</p>
		</a>
	</div>
	<div><a href="#">
			<img src="./img/01/right-top.jpg" alt="404 not found" style="width:66%;height:26vh;border:2px #ccc solid; 
			float:right;background-repeat: no-repeat;background-size: cover;">
			<p style="z-index: 100;position: absolute;color: white;font-size: inherit;font-weight: bold;right: 8%;top: 25%;">主要服務</p>
		</a>		
	</div>
	<div><a href="#">
			<img src="./img/01/right-mid.jpg" alt="404 not found"style="width:66%;height:34vh;border:2px #ccc solid;
			float:right;background-repeat: no-repeat;background-size: cover;">
			<p style="z-index: 100;position: absolute;color: white;font-size: inherit;font-weight: bold;right: 8%;top: 63.5%;">布的種類</p>
		</a>		
	</div>
	<div><a href="#">
			<img src="./img/01/bottom.jpg"  alt="404 not found"style="width:100%;height:30vh;border:2px #ccc solid;
			float:left;background-repeat: no-repeat;background-size: cover;">
			<p style="z-index: 100;position: absolute;color: white;font-size: inherit;font-weight: bold;left: 6%;top: 80%;">顧客評價</p>
		</a>		
	</div>
</div>
