div.loginout {
	background-image: url('../img/before_after/before_after.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center center;
	width: 100vw;
	height: 100vh;
}

div.loginout a div{
	width:50vw;
	height:100vh;
}

div.beforelog{
  float:left;
}

div.afterlog{
  float:right;
}
