body {
  background-color: none;
  font-size: 1.5em;
  overflow-x:hidden;
}                              
.myitem {
  text-align: center;
  high:8em;
}                                         
.active { 
  border-bottom: 1px solid #000;
  color:#272727;
}
div.my-nav div.row div.column a {
  color:    #BEBEBE;
}                  
div.my-nav {
  position: fixed;
  z-index: 101;
  margin: 0px;
  width: 100%;
  height: 66px;
  min-width: 360px;
  background-color: white;
}
/* important !!*/
.ui.grid {
  margin: 0px;
}

/*----------------
 The above of comments
 ------------------*/
 
#background {
  position:fixed;
  padding-top:66px;
  background: white url("../img/feedback/custom_feedback.jpg");
  background-repeat:no-repeat;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  -o-background-size:cover;
  background-size:cover; 
  width:100%;
  z-index:10;
}

/*------------
 evaluation 
 ------------*/
 
.evaluation {
  position:relative;
  margin:27% 28% 6% 28%;
  padding:5% 0% 5% 0%;
  height:50%;
  background:rgb(16,38,51);
  border-radius: 5px;
}
.evaluation p{
  font-size:125%;
  color:white;
  text-align:center;
  line-height: 1em;
  margin-bottom: 0.7em;
}
.evaluation .star_form {
  position:relative;
  padding:0 0 10% 9%;
}
.evaluation .star_form>img{
  display:block;
  float:left;
  width:13%;
  height:auto;
  margin-right:5%;
}



/*---------------------------------
  The comment segments is for personal design

 ---------------------------------*/

/*--------------
  All comment blocks
 --------------*/

.ui.comments {
  position:absolute;
  margin: 0;
  padding-top:89%;
}

.ui.comments .comment {
  position: relative;
  background: url('../img/feedback/mes_background.png');
  background-repeat: no-repeat;
  margin: 0;
  padding: 3% 0em 3% 0em;
  border: none;
  border-top: none;
  line-height: 1.2;
}
.ui.comments .comment:first-child {
  margin-top: 0.5em;
  padding-top: 3%;
}

/*--------------
      Avatar
 ---------------*/

.ui.comments .comment .avatar {
  display: block;
  width: 15%;
  height: auto;
  float: left;
  margin: 0 0 0 4%;
}
.ui.comments .comment img.avatar,
.ui.comments .comment .avatar img {
  display: block;
  margin: 0em auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/*--------------
      Content
 ---------------*/
.ui.comments .comment > .content {
  display: block;
  padding: 0;
  width:60%;
}
/* If there is an avatar move content over */
.ui.comments .comment > .avatar ~ .content {
  margin-left: 20%;
}
.ui.comments .comment .content > .author {
  font-size: 0.2em;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
}
.ui.comments .comment a.author:hover {
  color: rgba(0, 0, 0, 0.87);   
}

.ui.comments .comment .metadata {
    display: inline-block;
    margin-left: 1em;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.2em;
}
.ui.comments .comment .text {
  margin: 0.25em 0em 0.5em;
  font-size: 0.5em;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.3;
}
.ui.comments .comment > .star {
  float:right;
  display: block;
  padding:0;
  width:15%;
  font-size: 0.6em;
  margin-top:3%
}
.comments .comment > .content ~ .star {
  margin:0% 0% 0% 0%;
}

.ui.comments .comment .star > img {
  width: 20%;
  height: auto;
}
/*--------------
 the line is 
 to seperate blocks
 --------------*/

.line {
  margin: 1% 5% 1% 5%;
  width: 90%;
  height: 0.1em;
  opacity: 0.2;
}

