/* reusable css */

/* uppercase */
.uppercase {
  text-transform: uppercase;
}
/*--------------------------------*/

/* customized button tag */
.btn-as-link {
  background: transparent;
  border:  0px none #000;
  color: white;
}

.btn-as-link:hover {
  text-decoration: underline;
  color: white;
}

.btn-as-link:focus {
  text-decoration: underline;
  color: white;
}
/*--------------------------------*/

/* white font */
.font-white {
  color: white;
}
/*--------------------------------*/

/* content root div */
div.ui.grid.login-box {
  height: auto;
  min-height: 100%;
  width: 100%;
  padding-top: 66px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  background-position: center;
  background-image: url('../img/login_bg.jpg');

  text-align: center;
}
/*--------------------------------*/

div.ui.grid.login-box div.row {
  padding-top: 0px;
}

div.login-box div div.login-inner-box {
  padding-top: 120px;
}

div.login-box div.login-inner-box div.column.input-box {
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}

div.login-box div.login-inner-box div.column.input-box.account-box {
  padding-top: 0px;
  padding-bottom: 20px;
}

div.login-box div.login-inner-box div.column.input-box.password-box {
  padding-top: 0px;
  padding-bottom: 30px;
}

div.login-box div.login-inner-box div.column.button-box {
  padding: 0px 0px 38px 0px;
}

div.login-box div.login-inner-box div.column.or-box {
  padding: 0px 0px 38px 0px;
}

/* input tag customized */
div.login-box div.row div.wide.column div.column input{
  background: rgba(160, 160, 160, 0.3);
  border: 3px solid #fff;
  border-radius: 2px;

  width: 290px;
  height: 40px;

  display: block;
  margin: 0px auto;

  font-size: 20px;
  text-align: center;
  color: white;
}

div.login-box div input:focus {
  outline: none;
}

div.login-box div input::-webkit-input-placeholder{
  color: white;
  text-align: center;
}

div.login-box div input:-moz-placeholder {
  color: white;
  text-align: center;
}

div.login-box div input::-moz-placeholder {
  color: white;
  text-align: center;
}

div.login-box div input::-ms-input-placeholder {
  color: white;
  text-align: center;
}
/*--------------------------------*/

/* error label */
input.error-input {
  border: 3px solid rgba(0, 51, 51, 1) !important;
  background: rgba(0, 129, 83, .3) !important;
}
/*-------------------------------*/

/* error label */
.label-hide {
  visibility: hidden;
}

div.column.input-box label.myerror {
  display: block;
  width: 290px;
  height: 15px;
  line-height: 22px;

  margin: 0px auto;

  font-weight: 100;
  font-size: 15px;
}
/*-------------------------------*/

/*---------login-button------------*/
.login-btn.btn-as-link {
  background-color: rgba(0, 51, 51, 0.7);
  border-radius: 4px;
  width: 290px;
  height: 40px;
}

.login-btn.btn-as-link:hover,
.login-btn.btn-as-link:focus {
  text-decoration: none;
}

div.lower-box {
  padding-top: 5rem !important;
  padding-bottom: 0px !important;
}
/*-------------------------------*/

/* login-false-pupop */
div#login_false_pop_up {
  min-height: 150px;
  min-width: 210px;

  color: white;
}

div#login_false_pop_up div.b-close {
  min-height: inherit;
  min-width: inherit;

  cursor: pointer;
  background-color: rgba(0,0,0,0);
}

div#login_false_pop_up div.b-close div {
  text-align: center;
}

div#login_false_pop_up div.b-close div.main-login-error{
  padding-top: 20px;
  padding-bottom: 20px;
}

div#login_false_pop_up div.b-close div.main-login-error p {
  font-size: 35px;
}

div#login_false_pop_up div.b-close div.content-login-error{
  padding-bottom: 25px;
}

div#login_false_pop_up div.b-close div.content-login-error p {
  font-size: 20px;
}

div#login_false_pop_up div.b-close div.image-login-error img {
  height: 40px;
}
/*-------------------*/
